.header{
    width: 100%;
    max-width: 1600px;
    background-color: #2D4770;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 100%; /* Ширина слоя */
    max-width: 200px;
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 10px; /* Поля вокруг текста */
    background: #FFE0AA; /* Цвет фона правой колонки */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #226666; /* Цвет фона */
    display: flex;
}

h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #800040; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
}

.container {
    width: 1600px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #FFCCAA; /* Цвет фона левой колонки */
}

.logo {
    float: left;
    width: 150px;
    height: 76px;
    margin: 15px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block; /*один из способов разместить элементы в строку*/
}

.sidebar li{
    list-style-type: none;
}

.footer {
    background: #AA3939; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 20px;
}

.col-1-5 {
    width: 20%;
    float: left;
    text-align: center;
}


a.button18 {
    display: inline-block;
    font-size: 12px;
    color: rgb(205, 216, 228);
    text-decoration: none;
    padding: .2em .8em;
    outline: none;
    border-right: 1px solid rgba(13, 20, 27, .5);
    border-top: 1px solid rgba(270, 278, 287, .01);
    background-color: rgb(64, 73, 82);
    background-image: radial-gradient(1px 60% at 0% 50%, rgba(255, 255, 255, .3), transparent),
    radial-gradient(1px 60% at 100% 50%, rgba(255, 255, 255, .3), transparent),
    linear-gradient(rgb(64, 73, 82), rgb(72, 81, 90));
}

a.button18:hover {
    background-image: radial-gradient(1px 60% at 0% 50%, rgba(255, 255, 255, .3), transparent),
    radial-gradient(1px 60% at 100% 50%, rgba(255, 255, 255, .3), transparent),
    linear-gradient(rgb(51, 60, 67), rgb(58, 65, 72));
}

a.button18:focus {
    color: rgb(245, 247, 250);
    border-top: 1px solid rgb(67, 111, 136);
    background-image: linear-gradient(rgb(46, 95, 122), rgb(36, 68, 92));
}

a.button18:focus:hover {
    border-top: 1px solid rgb(49, 87, 107);
    background-image: linear-gradient(rgb(33, 77, 98), rgb(29, 57, 77));
}


a.button8 {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-left: 35px;
}

a.button8:hover {
    background: rgba(255, 255, 255, .2);
}

a.button8:active {
    background: white;
}

.button-box{
    float: left;
    padding-top: 10px;
}

.description {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-left: 10px;
}

.info-block {
    border: 3px solid black;
    border-radius: 10px; /* Радиус скругления */
    margin-top: 10px;
    padding: 10px;
}

.picture-with-description{
    display: flex;
}

.info-column{
    display: flex;
    flex-direction: column;
}

.reglog{
    margin-top: 35px;
    margin-right: 45px;
}

.add-block{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.button-search{
    width: 100px;
    margin-top: 15px;
}

.login-password-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    text-align: center;
    color: #F1F2F4;
    text-shadow: 0 1px 0 #000;
}
a{
    text-decoration: none; color: #EC5C93;
}
.ribbon{
    background: rgba(200,200,200,.5);
    width: 50px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: 19px;
    border: 1px solid rgba(255,255,255,.3);
    border-top: 2px solid rgba(255,255,255,.5);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 3px rgba(0,0,0,.7);
}
.ribbon:before{
    content:"";
    display: block;
    width: 15px;
    height: 15px;
    background: #4E535B;
    border: 4px solid #cfd0d1;
    margin: 18px auto;
    box-shadow: inset 0 0 5px #000, 0 0 2px #000, 0 1px 1px 1px #A7A8AB;
    border-radius: 100%;
}
.login{
    background: #F1F2F4;
    border-bottom: 2px solid #C5C5C8;
    border-radius: 5px;
    text-align: center;
    color: #36383C;
    text-shadow: 0 1px 0 #FFF;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 40px 20px 40px;
    box-shadow: 0 0 3px #000;
}
.login:before{
    content:"";
    display: block;
    width: 70px;
    height: 4px;
    background: #4E535B;
    border-radius: 5px;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #CBCBCD;
    margin: 0 auto;
}
h1{
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 10px;
}
p{
    font-family:'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #7B808A;
    margin-top: 0;
    margin-bottom: 30px;
}
.input{
    text-align: right;
    background: #E5E7E9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 3px #65686E;
    border-bottom: 1px solid #FFF;
}
input{
    width: 260px;
    background: transparent;
    border: 0;
    line-height: 3.6em;
    box-sizing: border-box;
    color: #71747A;
    font-family:'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 #FFF;
}
input:focus{
    outline: none;
}
.blockinput{
    border-bottom: 1px solid #BDBFC2;
    border-top: 1px solid #FFFFFF;
}
.blockinput:first-child{
    border-top: 0;
}
.blockinput:last-child{
    border-bottom: 0;
}
.blockinput i{
    padding-right: 10px;
    color: #B1B3B7;
    text-shadow: 0 1px 0 #FFF;
}
::-webkit-input-placeholder {
    color: #71747A;
    font-family:'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 #FFF;
}
button{
    margin-top: 20px;
    display: block;
    width: 100%;
    line-height: 2em;
    background: rgba(114,212,202,1);
    border-radius: 5px;
    border:0;
    cursor: pointer;
    border-top: 1px solid #B2ECE6;
    box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
    color: #FFFFFF;
    font-size: 1.5em;
    text-shadow: 0 1px 2px #21756A;
}
button:hover{
    background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);
}
button:active{
    box-shadow: inset 0 0 5px #000;
    background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%);
}

.block{
    padding-top: 150px;
    padding-bottom: 180px;
}
